body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center; 
    background-color: #373737;
    vertical-align: middle;
}

#banner {
    text-align: right;
    color: #C0B283;
}

#bulk {
    padding-top: 25vh;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    color: #C0B283; 
}

p, td {
    font-size: 1em;
    color: #DCD0C0;
    padding-top: 1em;
    padding-right: 1em;
}

table {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

input[type=text], input[type=password] {
    text-align: left;
    background-color: #F4F4F4;
    color: #373737;
}

input[type=submit] {
    background-color: #F4F4F4;
    color: #373737;
}

.centery {
    text-align: center;
}

.righty {
    text-align: right;
}

a, a:active, a[tabindex]:focus {
    color: #C0B283;
    text-decoration: none;
}